@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Hide Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0E0B;
}
::-webkit-scrollbar-thumb {
  background: #2A332A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4A7C59;
}
